@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-text-1: rgba(60, 60, 60, .7);
  --light-text-primary: #213547;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body{
  color: var(--light-text-1)
}

h1,h2,h3,h4,h5,h6{
  color: var(--light-text-primary);
}

h1 { font-size: 22px; font-weight: 600; }
h2 { font-size: 18px; font-weight: 600;}
h3 { font-size: 14px; font-weight: 500;}
h4 { font-size: 10px; }
h5 { font-size: 6px; }
h6 { font-size: 2px; }

/*start utils*/


.grad-text{
  background: linear-gradient(to right, #42b883 0, #476582 60%, #213547 100%);
    -webkit-background-clip: text;
  background-clip: text;
  font-weight: 600;
  -webkit-text-fill-color: transparent;
}

.text-space-mono{
  font-family: var(--font-space-mono);
}
/*end utils*/

/*start test*/


/*end test*/