@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-text-1: rgba(60, 60, 60, .7);
  --light-text-primary: #213547;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body{
  color: var(--light-text-1)
}

h1,h2,h3,h4,h5,h6{
  color: var(--light-text-primary);
}

/* h1 { font-size: 20px; font-weight: 700; }
h2 { font-size: 16px; font-weight: 600;}
h3 { font-size: 14px; font-weight: 500;}
h4 { font-size: 10px; }
h5 { font-size: 6px; }
h6 { font-size: 2px; } */

/*start utils*/


.grad-text{
  background: linear-gradient(to right, #42b883 0, #476582 60%, #213547 100%);
    -webkit-background-clip: text;
  background-clip: text;
  font-weight: 600;
  -webkit-text-fill-color: transparent;
}

.text-space-mono{
  font-family: var(--font-space-mono);
  font-size: 14px;
}
/* .truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
} */
/*end utils*/

/*start test*/
/* globals.css */
pre code .highlighted {
  @apply bg-yellow-200/30 dark:bg-yellow-400/10;
}

pre code .diff.add {
  @apply bg-green-200/30 dark:bg-green-400/10;
}

pre code .diff.remove {
  @apply bg-red-200/30 dark:bg-red-400/10;
}

pre code .focus {
  @apply ring-2 ring-indigo-400/50 rounded-md;
}


/*end test*/

/*start shiki style*/
code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115,138,148,.4)
}



span.line.highlighted{
  display: inline-block;
  width: 100%;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.shiki {
  counter-reset: step;
  counter-increment: step 0;

  .line {
    @apply border-l-4 border-transparent;

    &::before {
      counter-increment: step;
      @apply mr-6 inline-block w-4 border-transparent text-right text-neutral-400 content-[counter(step)];
    }

    &.highlighted,
    &.diff {
      @apply -ml-4 -mr-5 inline-block w-[calc(100%+(theme(spacing.5)+theme(spacing.4)))] pl-4 pr-5;
    }

    &.highlighted {
      @apply border-yellow-400 bg-yellow-100;
    }

    &.diff {
      &.add,
      &.remove {
        span:first-child::before {
          @apply -ml-4 inline-flex w-4;
        }
      }

      &.add {
        @apply border-green-500 bg-green-100 before:text-green-600;
        span:first-child::before {
          @apply text-green-600 content-["+"]; 
        }
      }

      &.remove {
        @apply border-red-500 bg-red-100 opacity-90 *:!text-red-600 before:text-red-600;
        span:first-child::before {
          @apply text-red-600 content-["-"];
        }
      }
    }
  }
}


/*@todo //dark 

.shiki {
  counter-reset: step;
  counter-increment: step 0;
  .line {
    @apply border-l-4 border-transparent;
    &::before {
      counter-increment: step;
      @apply mr-6 inline-block w-4 border-transparent text-right text-neutral-600 content-[counter(step)];
    }
    &.highlighted,
    &.diff {
      @apply -ml-4 -mr-5 inline-block w-[calc(100%+(theme(spacing.5)+theme(spacing.4)))] pl-4 pr-5;
    }
    &.highlighted {
      @apply border-neutral-500 bg-neutral-800;
    }
    &.diff {
      &.add,
      &.remove {
        span:first-child::before {
          @apply -ml-4 inline-flex w-4;
        }
      }
      &.add {
        @apply border-blue-500 bg-blue-500/25 before:text-blue-500;
        span:first-child::before {
          @apply text-blue-500 content-["+"];
        }
      }
      &.remove {
        @apply border-orange-500 bg-orange-500/30 opacity-70 *:!text-neutral-400 before:text-orange-500;
        span:first-child::before {
          @apply text-orange-500 content-["-"];
        }
      }
    }
  }
} */
/*end line shiki style*/